doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Custom Object Records (#{objectType})
    a(href="/update/video-game") Add New Record
    br
    br
    
    if error
      p.error= error
    else if data && data.length > 0
      table
        thead
          tr
            th Name
            th Genre
            th Price
        tbody
          each record in data
            tr
              td= record.properties.name
              td= record.properties.genre
              td= record.properties.price
    else
      p No records found. 

